@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* home page styling */

li > a{
    text-decoration:none;
}
.brand,
.btn-download {
    text-decoration: none;
}


.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
  }
  
  .btn-toggle[aria-expanded="true"]::after {
    transform: rotate(270deg);
}
  .btn-toggle::after {
    width: 1.25em;
    margin-left:2rem ;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transform: rotate(90deg);
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }
  
/* header styling */
header{

max-width: 1920px;
position: sticky;
top: 0px;
left: 0px;
z-index: 999;
width: 100%;

}
header > nav{
    height:70px;
    font-family: 'poppins' , sans-serif;
    max-width: 1920px;
    background-color:white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-family: perma;
    font-weight: bold;
    margin: 0px auto;
    margin: 0px 25px;
    box-shadow: 0 0 20px rgba(32,30,30,.356);
    transition: all .9s;
}

header > nav > .logo{
    font-size: 35px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 10px;
}

header > nav > .logo > p{
    font-size: 17px;
}

header > nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;

}

header > nav > ul > li{
    font-size: 22px;
    list-style: none;
   
}

header > nav > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative;

}

header > nav > ul > li > a:hover{
    color: crimson;
    transition: all 0.5s;
}

header > nav > ul > li > a::before{
    content: '';
    width:0%;
    height:4px;
    background-color:crimson;
    position: absolute;
    bottom: -8px;
    transition: all 0.5s;

}
header > nav > ul > li > a:hover::before{
    width:40%;
}
 header > nav > ul > button{
      background-color: white;  
    border-radius: 5px;
    padding: 7px 22px;
    outline: none;
    border: none;
    font-size: 19px;
    font-weight: 900;

}
header > nav > ul > button > a{
    text-decoration: none;
    color: black;
    font-size: 21px;
} 

header > nav > ul > button > i{
    margin-right: 10px;
}
header > nav > ul > button:hover > a{
    color: crimson;
    transition: all 0.5s;
}
.box2{
    height:40px;
    width:60px;
}


.line{
    height:3px;
    width:60px;
    background-color: black;
    position: absolute;
    display: none;
    
}
.line::before{
    content:'';
    height:3px;
    width:100%;
    position: absolute;
   top:12px;
   background-color: black;
    transition: all 0.5s;
}
.line::after{
    content:'';
    height:3px;
    width:30%;
    position: absolute;
   top:24px;
   background-color: black;

}

.box2:hover > .line::before{
    width:50%;
}

.dropdown-overlay
{
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  display: none;
}
.dropdown.dropup
{
  padding-top: 100px;
    .slide-menu
    {
         margin-bottom: -1px;
         bottom: 28%;
         top: auto;
    }
}

/* banner container styling */



.banner-container{
    padding: 70px 20px;
    min-height: 400px;
    width:100%;
    font-family: poppins, sans-serif;
    border-bottom:2px solid rgba(255, 255, 255, 0.1);
    /* background-color: #3a3a3a42; */
}

.banner-container >.info{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}

.info > .left_container{
   
    width: 40%;
}

.left_container > h1{
    color: rgba(0,0,0,0.8);
    font-weight: 700;
}

.info > .right_container{
    width: 50%;
}
.info > .right_container > img{
    width: 100%;
    height: 100%;
}

/* content section styling starts here */
.content{
    max-width: 1400px;
    margin: 0 auto;
}
.content>.inner_content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    padding-top: 40px;
    justify-content: center;
    align-items: center;


}

.cards {

    position: relative;
    width: 23%;
    height: 260px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    transition: all 0.5s;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .082);
  

}



.content>.inner_content>.cards>.flip_image {
    width: 100%;
    height: auto;
    text-align: center;
}


.content>.inner_content>.cards>.flip_cards>.flip_image>img {
    width: 71%;
    height: 175px;
    text-align: center;
    padding-left: 42px;
}


.content>.inner_content>.cards>.flip_cards>h3 {
    font-size: 25px;
    padding-top: 30px;
    font-family: Roboto;
}

/* .about>.content>.cards>.flip_back_cards {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    transition: all 1000ms ease-in-out;
    z-index: -1;
} */

.content>.inner_content>.cards>.flip_cards {
    transition: all 500ms ease-in-out;
}

/* psbi section styling here */
.about{
   max-width: 1300px;
   margin: 0 auto; 
}

.about>h2 {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: 47px;
    font-size: 700;
}


.about>p {
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
}


/* sponsored section styling starts here */


.sponsored > h2{
    text-align: center;
    padding: 30px 0px;
    font-weight: 700;
    font-size: 35px;
}

.sponsored > .container > .row{
    column-gap: 25px;
}

.sponsored > .container > .row > .card {
   display: flex;
   justify-content: center;
}

.sponsored > .container > .row > .card > .card-body > button{
    background-color: #0d6efd;
    
}
.sponsored > .container > .row > .card > .card-body > button > a{
    text-decoration: none;
    color: white;
}

.sponsored > .container > .row > .card > .card-body > button:hover{
background-color: burlywood;

}

.contact2{
    position: relative;
    min-height: 50vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;  
}
.top > .fa-house-user{
    font-size: 40px;
    color: crimson;
    position: fixed;
    right: 0px;
    bottom: 10px;

}

.contact2 > .content2{
max-width: 800px;
text-align: center;
}
.contact2 > .content2 > h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact2 > .content2 > p{
    
    font-weight: 300;
    color: #fff;
}
.contact-container{
    width:100%;
    display: flex;
    justify-content: center;
   
    margin-top: 30px;
}

.contact-container > .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-container > .contact-info > .box{
    position: relative;
    padding: 20px 0;
display: flex;
}
.contact-container > .contact-info > .box > .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
   
    border-radius: 50%;
    font-size: 20px;
}
.contact-container > .contact-info > .box > .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contact-container > .contact-info > .box > .text > a{
    text-decoration: none;
    color: white;
}

.contact-container > .contact-info > .box > .text >h3{
    font-weight: 500;
    color: #00bcd4;
}
.contact-form{
    width: 35%;
    padding: 40px;
    background: #fff;
    border: 5px solid #00bcd4;
    border-radius: 10px;
}
.contact-form > h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;

}

.contact-form .inputBox{
    position: relative;
    width: 100%;
    margin-top:10px;
}

.contact-form > .inputBox > input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    outline: none;
    resize: none;
}
.contact-form > .inputBox  > span{
    position: absolute;
    left: 0px;
    padding: 5px 0;
    font-size: 16px;
    margin: 15px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    
}
.contact-form > .inputBox  > input:focus~ span,
.contact-form > .inputBox  > input:valid~ span
{
    color:#e91e63;
    font-size: 14px;
    transform: translateY(-30px);
    padding-bottom: 10px;
    
}
.contact-form > .inputBox  > input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}

/* #login page styling    */


.container > .form-box{
    width:350px;
    height:480px;
   background-color: white;
   margin:100px auto;
 position: relative;
    padding: 25px;
    overflow: hidden;
    border-radius: 10px;
}
.button1{
    width:220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 50px;
}
.toggle-btn1{
    padding:10px 34px;
    cursor: pointer;
    background-image: linear-gradient(to right , #ff105f , #ffad06);
    outline: none;
    border: 0;
    position: relative;
    border-radius: 50px;

  
}
.toggle-btn2{
    padding:10px 30px;
    cursor: pointer;
   background: transparent;
    outline: none;
    border: 0;
    position: relative;
    border-radius: 50px;

  
}

.form-input{
    width:280px;
    transition: 0.5s;
    position: absolute;
}
.input-field{
    width:100%;
    padding: 10px;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #999;
    outline: none;
    background: transparent;
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 15px;

    
}
.submit-btn{
    padding: 10px 30px;
    cursor: pointer;
    background-image: linear-gradient(to right , #ff105f , #ffad06);
    border:0;
    outline: 0;
    border-radius: 30px;
    width: 100%;
}

#Register{
    left:-450px;
   
  

}


/* #contact page styling */


#contact{
   height: 100vh;
}


/* #dashboard page styling */


/* 
.sidebar{
    position: fixed;
    top: 0px;
    left: -250px;
   
    height: 100%;
    background: #042331;
    transition: all 0.5s ease;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
.sidebar header img{
    position: absolute;
    left:10px;
    top:10px
}

.sidebar > ul > li >  a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 55px;
    font-size: 20px;
    color: white;
    padding-left:40px;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: all 0.5s;
    text-decoration: none;
}

ul > li:hover > a{
    padding-left:50px;
  
}

.sidebar > ul > li > a > i{
    margin-right: 16px;
}
#check{
    display: none;
}

label #btn{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

 label #cancel{
    position: fixed;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn{
    left: 40px;
    top:0px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s;
    z-index: 99;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top:17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all 0.5s ease;
}

#check:checked ~ .sidebar{
    left: 0px;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}

#check:checked ~ .section{
    margin-left: 250px;
}


 .section{
    width: calc(100%-250px);
}
 .top_navbar{
    background-color: #06314659;
    height: 47px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20;
    margin-bottom: 10px;
}
#check:checked ~ .dash{
    margin-left: 250px;
}
.section > .row{

    position: relative;
    width: 99%;
    margin: 0px 5px;
    margin-bottom: 10px;
    padding: 5px 25px;
    display: inline-block;
    background:  #e8e8e882;
    border: 1px solid #E6E9ED;
    opacity: 1;
    transition: all .2s ease;
   
}

.section > .row > .container{
    display: flex;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
}

.section > .row > .container > select{
    height: 40px;
    width: 20%;
    border: 1px solid #E6E9ED;
   
    outline: none;
}
.section > .row > .container > input{
    height: 40px;
    width: 20%;
    border: 1px solid #E6E9ED;
   
    outline: none;
}
.section > .row > .container > input::placeholder{
    text-align: center;
    font-size: 15px;
}
.section > .row > .container > .line{
    height: 30px;
    background-color: black;
}
.section > .row > .container > button{
    background-color: #063146;
    height: 30px;
    width: 80px;
  
}
.section > .row > .container > button > a{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
} */
.dash{
    width: calc(100%-250px);
}
.dash{
    position: relative;
    
    margin: 0px 5px;
    margin-bottom: 10px;
    padding: 5px 25px;
    display: inline-block;
    background: #fff;
  
   
}

.dash > .container{
    display: flex;
    column-gap: 15px;
}
.dash > .container > .box {
   
    background-color: #80808063;;
    height: 80px;
   
    border-radius: 10px;
}

.dash > .container > .box > .inner_cont{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #0000008f;
    font-weight: 600;
    padding: 11px;
}
.dash > .container > .box > p{
    color: #0000008f;
    font-weight: 600;
}
 /* #check:checked ~ .stats{
    margin-left: 265px;
}
.stats {
        width: calc(100%-250px);
        height: 300px;
        position: relative;
        margin-bottom: 10px;
        padding: 5px 25px;
        background:#e8e8e882;
        margin-right: 15px;
}

.stats > .stats_cont{
    display: flex;
   
   
    
}
.stats > .stats_cont > a{
    position: absolute;
    right: 0px;
}
.stats > hr{
    margin-top: 20px;
} */


#check:checked ~ .calender{
    margin-left: 265px;
}
 .calender {
    
       display: flex;
       column-gap: 15px;
       
}
.calender > .left_side{
    width: 700px;
    min-height: 400px;
    margin-bottom: 10px;
    padding: 5px 25px;
    margin-right: 15px;
    border: 1px solid #e8e8e882;
    font-weight: bold;
}
.calender > .left_side > .calen_cont{
    display: flex;
    position: relative;
    
}
.calender > .left_side> .calen_cont > a{
    position: absolute;
    right: 0px;
}
.calender > .left_side> hr{
    margin-top: 20px;
}

.calender > .left_side> .calender1{
    display: flex;
    justify-content: center;
    align-items: center;
}

table, th , td{
    width: 100%;
    text-align: center;
    table-layout: fixed ;
   
    border-collapse :collapse;
   
    color: #000000a8;
}

th , td ,tr{
    padding: 25px;
}

td:hover{
   background-color:#0a5275 ;
   transition: all 0.3s;
}
.calender > .left_side > .current_date{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 35px;
}

.calender > .left_side > .icons > i{
    height: 38px;
    width: 38px;
    margin: 0px 1px;
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    font-weight: 900;
}
.calender > .calender1 > .icons:hover >i{
    background-color: #f2f2f2;
}
.calender > .right_side{
   
    height: 450px;
    margin-bottom: 10px;
    padding: 5px 25px;
    margin-right: 15px;
    border: 1px solid #e8e8e882;
    font-weight: bold;
}
.calender > .right_side > .pie_cont{
    display: flex;
    position: relative;
    
}
.calender > .right_side> .pie_cont > a{
    position: absolute;
    right: 0px;
}
.calender > .right_side> hr{
    margin-top: 20px;
} */

#check:checked ~ footer{
    margin-left: 250px;
}*/
 footer > .end{
       width: calc(100%-250px);
      
        position: relative;
        margin-bottom: 10px;
        padding: 5px 25px;
       
        
      
}

footer > .end > .end_cont{
    display: flex;
    justify-content: center;
    font-weight: 900;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
    padding-top: 2rem;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
    padding: 0px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li > a> .fa-solid{
    padding-right: 20px;
    padding-left: 13px;

}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
    padding-bottom: 2rem;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	/* max-height: calc(100vh - 56px); */
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}




#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}





#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* CONTENT */



/* #Gallery page styling */

.contact_container{
    position: relative;
    width: 100%;
    height: 90vh;
    background: #8f50ec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    width:100%;
    height: 520px;
    max-width: 820px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
    overflow: hidden;
    
    display: grid;

}
.contact{
    background: #fff;
 
}
.submit-form{
    background: #8f50ec;
}

.first_text{
   
    padding-left: 20px;
    padding-top: 20px;
    font-size: 35px;
    color:#8f50ec;
    font-weight: 600;
}
.image{
    height: 320px;
    width: 320px;

}
.social-media {
  display: flex;
  list-style: none;
}
.social-media > a  {
    padding-left: 15px;
    font-size: 24px;
    margin-top: 10px;


}

.second-text{
    font-weight: 500;
    color:#8f50ec;
}

.third_text{
    font-size: 25px;
    position: relative;
    top:20px;
    left:20px;
    padding-top: 10px;
    color: #fff;
}
.social-media > a > i{
    color: #000;
    background-color:#8f50ec ;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s;
}

.social-media >a> i:hover{
    background-color:#fff ;
    color:#8f50ec;
}

.social-media a{
    text-decoration: none;
}

form{
    padding:  0px 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.input-box{
height: 40px;
width: 70%;
margin: 30px 0px;
position: relative;
}
.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
}

.input-box > label{
    position: absolute;
    top:50%;
    left:10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
.input-box  > input:focus ~label,
.input-box  > input:valid ~label
{
top:-1px;
left:10px;
background:#8f50ec ;
font-weight: 500;
font-size: 12px;
padding: 5px;
}

.btn1{
    position: relative;
    top:100px;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 45px;
   
    cursor: pointer;
    color: #8f50ec;
   font-weight: 500;
}